.book-list {
    padding: 15px 0 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 15px;
}

.book-list li {
    background: var(--clr1bg);
    border-radius: 7px;
}
.book-actions {
    display: flex;
    justify-content: space-between;
    margin: auto;
    /* max-width: max-content; */
    width:100%;
}
.book-actions button {
    display: inline-block;
    width:100%;
}