.book-details-content {
    text-align: start;
    /* background: var(--clr1bg); */
    /* border-radius: 7px; */
    margin:20px;
   
}
.book-details-content h1 {
    font-size: 2rem;
    text-transform: uppercase;
}

.book-details-preview {
    /* border: 1px solid rgb(202, 202, 202); */
    /* border-radius: 7px; */
    padding:30px;
    margin:20px;
}
.book-desc {
    color: #666;
    font-family: cursive, Helvetica, sans-serif;
    font-size: 0.8rem;
    margin-bottom: 20px;
    line-height: 1.5;
    max-width: 300px;
    overflow-wrap: break-word;
    display: block;
}
.book-details-subtitle {
    width: auto;
    display: inline-block;
}

.next-prev {
    text-align: center;
}